// Set your brand colors

$saffron: #EAC435;
$amethyst: #9B5DE5;
$black: #000000;
$orange: #F75C03;
$green: #5efc8d;
$radius: 0rem;


// Path to Bulma's sass folder
@use "../node_modules/bulma/sass" with ( $family-primary: '"Nunito", sans-serif', $primary: $saffron, $info:$amethyst, $success:$green, $warning:$orange, $radius:$radius );

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
